* {
  box-sizing: border-box;
}
body {
  background: orange;
  margin: 0
}

.dragme:nth-child(2n) {
  background-color: red;
}
.container {
  background-color: black;
outline: auto;
padding: 0;
border: 0;
  margin: 0;
  min-height: 1rem;
}
.dragme {
background-color: yellow;
  padding: 0;
  border: 0;
  margin: 0;
  cursor: move;
}
.dragging {
opacity: 50%;
background-color: green;
}

@media screen and (max-width: 500px) {
  .dragme {
    min-height: 2rem;
  }
}