* {
  box-sizing: border-box;
}
body {
  background: orange;
  margin: 0
}

.dragme:nth-child(2n) {
  background-color: red;
}
.container {
  background-color: purple;
outline: auto;
padding: 1em;
border: 0;
  margin: 0;
  min-height: 1rem;
  text-align: center;
}
.dragme {
background-color: yellow;
  padding: 0;
  border: 0;
  margin: 0;yu: 7h 5ftr;
  cursor: move;
}
.dragme:first-child {
border-radius: 10px 10px 0px 0px;
}
.dragme:last-child {
  border-radius: 0px 0px 10px 10px;
}
.dragme:only-child{
  border-radius: 10px 10px 10px 10px;
}
.dragging {
background-color: green;
}

@media screen and (max-height: 300px) {
  .container {
    min-height: 2rem;
  }
  .dragme {
    min-height: 2rem;
  }
}